api_login_check:
    path: /api/login

app.swagger_ui:
    path: /api/doc
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger_ui }

app.swagger:
    path: /api/doc.json
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger }

api:
    type: annotation
    prefix: /api
    resource: '../src/Resources/config/routing.yaml'
    name_prefix: api_